<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Edit an Organization</title>
</head>

<body>
    <div class="container">
        <h1 class="text-primary text-center">Kadenz</h1>
        <p class="text-secondary text-center">In tune with your fundraising needs!</p>
        <hr>
        <a href="/organizations/">Back to Organizations List</a>
        <div class="col-4 mx-auto p-3 bg-body-secondary text-body card shadow">
            <h2>Edit {{organization.name}}</h2>
            <div class="mb-3">
                <form action="/organizations/{{organization.id}}/edit/process/" method="post">
                    {% csrf_token %}
                    <label for="name" class="form_label mb-1">Organization Name:</label>
                    <input type="text" name="name" class="form-control mb-3" value="{{organization.name}}">
                    <label for="details" class="form_label mb-1">Details:</label>
                    <input type="textarea" name="details" class="form-control mb-3" value="{{organization.details}}">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>