<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>All Organizations</title>
</head>

<body>
    {% block header %}
    {% include "header.html" %}
    {% endblock header %}

    <div class="container">

        <h1 class="mb-3 text-info">All Organizations</h1>

        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

            {% for organization in all_organizations %}
            <div class="col">
                {% block organization-card %}
                {% include "organization-card.html" %}
                {% endblock organization-card %}
            </div>
            {% empty %}
            <h3>No organizations in list</h3>
            {% endfor %}

        </div>

    </div>

    {% block footer %}
    {% include "footer.html" %}
    {% endblock footer %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>