<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Kadenz Fundraising</title>
</head>

<body>
    <div class="container">
        <h1 class="text-primary text-center">Kadenz</h1>
        <p class="text-secondary text-center">In tune with your fundraising needs!</p>

        <hr>

        <h2 class="text-center mb-3">Welcome, {{user.first_name}}!</h2>
        <a href="/logout/">Logout</a>

        <table>
            <h1>My Organizations</h1>
            <a href="/organizations/new/">Create an Organization</a>
            <table class="table">
                <thead>
                    <th>Name</th>
                    <th>Details</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for organization in user_organizations %}
                    <tr>
                        <td><a href="/organizations/{{organization.id}}/">{{organization.name}}</a></td>
                        <td>{{organization.details}}</td>
                        <td><a href="/organizations/{{organization.id}}/edit/">Edit</a> | <a href="/organizations/{{organization.id}}/delete/">Delete</a></td>
                    </tr>
                    {% empty %}
                <h3>No items in list</h3>
                    {% endfor %}
                </tbody>
            </table>



    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>