{% extends "base.html" %}

{% block title %}Placeholder{% endblock title %}

{% block content %}
    <h1>DASHBOARD</h1>
    {% for organization in organization_list %}
        <div>

            <div>
                <h2>{{ organization.name }}</h2>
                <a href="{% url 'organization_detail' organization.pk %}">Details</a>
            </div>

            <hr>
            <h3>Events</h3>
            {% for event in organization.event_set.all %}
                <p>{{ event.name }}</p>
                <p>{{ event.description }}</p>
                <p>{{ event.street }}, {{ event.city }}, {{ event.state }}</p>
                <p>{{ event.start_date }}</p>
                <p>{{ event.end_date }}</p>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}