{% extends "base.html" %}

{% block title %}Placeholder{% endblock title %}

{% block content %}
    <div class="d-flex justify-content-between align-middle">


        <h1 class="mb-3 text-info">All Events</h1>
        <div>
            <p>Sort by

                <a href="/events/" class="btn btn-sm btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="1em" height="1em" fill="currentColor"
                         class="bi bi-caret-up-fill"
                         viewBox="0 0 16 16">
                        <path
                                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                    </svg>
                    Ascending</a>
                <a href="/events/reverse" class="btn btn-sm btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="1em" height="1em" fill="currentColor"
                         class="bi bi-caret-down-fill"
                         viewBox="0 0 16 16">
                        <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                    </svg>
                    Descending</a>
            </p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-3">

        {% for event in event_list %}
            <div class="col">
                {% block event-card %}
                    {% include "event-card.html" %}
                {% endblock event-card %}
            </div>
            {% empty %}
            <h3>No events in list</h3>
        {% endfor %}

    </div>
{% endblock %}