{% extends "base.html" %}

{% block content %}
    {% load static %}
    <div class="d-flex align-items-center justify-content-center">
        <img src="{% static 'img/kadenz-logo.png' %}" width="360" height="120"
             role="img" alt="Kadenz logo">
    </div>

    <hr>

    <main>
        <div class="d-flex row row-cols-1 row-cols-md-1 row-cols-lg-2 g-2 mb-3">
            <div class="col align-items-stretch mb-3 mb-lg-0">
                <h1>What can Kadenz do for you?</h1>
                <p class="fs-4">Kadenz was born out of personal experience with
                    high school marching band boosters and a desire to make it
                    <span class="fw-bold">easy to manage your organization's fundraising events</span>.
                    We're starting out small. Right now, you can post events
                    like car washes or can drives, but many exciting features,
                    like online sales campaigns, are planned for the future.</p>
                <p class="fst-italic">Sound interesting?</p>
                <a href="{% url 'signup' %}" class="btn btn-primary btn-lg">
                    Sign up your free account!</a>
            </div>
            <div class="col align-items-stretch">
                <img src="{% static 'img/band01.jpg' %}"
                     class="img-fluid rounded-3" role="img"
                     alt="photo of a marching band">
            </div>
        </div>
        <p class="text-secondary"><span class="fw-bold">Disclaimer: Kadenz is not an actual business</span>.
            This site was created as my final project with <a
                    href="https://www.codingdojo.com/" target="_blank">Coding
                Dojo</a> in July 2023 and was subsequently rewritten in January
            2024. All functionality is present, but the organizations and events
            are fictional. The source code can be viewed on <a
                    href="https://github.com/jaerrib/kadenz" target="_blank">GitHub</a>.
        </p>

    </main>

{% endblock content %}