{% extends "base.html" %}

{% block title %}Organization List{% endblock title %}

{% block content %}

    <h1 class="mb-3">All Organizations</h1>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mb-3 text-center">

        {% for organization in organization_list %}
            <div class="col">
                {% block organization-card %}
                    {% include "organization_card.html" %}
                {% endblock organization-card %}
            </div>
            {% empty %}
            <h3>No organizations in list</h3>
        {% endfor %}

    </div>

{% endblock content %}