{% extends "base.html" %}

{% block title %}Organization List{% endblock title %}

{% block content %}
    <div>
        <h2>{{ organization.name }}</h2>
        <h3>Details</h3>
        <p>{{ organization.details }}</p>
        <p>Contact: <a
                href="mailto:{{ organization.creator.email }}">{{ organization.creator.username }}</a>
        </p>
        <p>Created at: {{ organization.created_at }}</p>
        <p>Last modified: {{ organization.updated_at }}</p>
        <a href="{% url 'organization_edit' organization.pk %}">Edit</a> |
        <a href="{% url 'organization_delete' organization.pk %}">Delete</a>
    </div>
    <p>
        <a href="{% url 'organization_list' %}">Back to list</a>
    </p>
{% endblock content %}